--
-- PostgreSQL database dump
--

\restrict j6HlDMWnI52MWnXaUNLDeCFTXzsQgiEN1Ob3C7b52VegxgXk1lyY4PCDoVbI31Y

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public.alembic_version DISABLE TRIGGER ALL;

COPY public.alembic_version (version_num) FROM stdin;
b2c3d4e5f6a7
\.


ALTER TABLE public.alembic_version ENABLE TRIGGER ALL;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.users DISABLE TRIGGER ALL;



ALTER TABLE public.users ENABLE TRIGGER ALL;

--
-- Data for Name: api_keys; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.api_keys DISABLE TRIGGER ALL;



ALTER TABLE public.api_keys ENABLE TRIGGER ALL;

--
-- Data for Name: assessments; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.assessments DISABLE TRIGGER ALL;



ALTER TABLE public.assessments ENABLE TRIGGER ALL;

--
-- Data for Name: assessment_results; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.assessment_results DISABLE TRIGGER ALL;



ALTER TABLE public.assessment_results ENABLE TRIGGER ALL;

--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.audit_logs DISABLE TRIGGER ALL;



ALTER TABLE public.audit_logs ENABLE TRIGGER ALL;

--
-- Data for Name: dataset_metadata; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.dataset_metadata DISABLE TRIGGER ALL;



ALTER TABLE public.dataset_metadata ENABLE TRIGGER ALL;

--
-- Data for Name: dataset_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.dataset_profiles DISABLE TRIGGER ALL;



ALTER TABLE public.dataset_profiles ENABLE TRIGGER ALL;

--
-- Data for Name: domain_scores; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.domain_scores DISABLE TRIGGER ALL;



ALTER TABLE public.domain_scores ENABLE TRIGGER ALL;

--
-- PostgreSQL database dump complete
--

\unrestrict j6HlDMWnI52MWnXaUNLDeCFTXzsQgiEN1Ob3C7b52VegxgXk1lyY4PCDoVbI31Y

